
.meni{

    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    
     
}

#odsijek1,#odsijek2,#odsijek3,#odsijek4{
    padding-right: 50px;
}

.naslovi{
    scroll-margin-block-start: 120px;
}
div.smjerovi{
    padding-left: 20%;
}
.smijer{
    float: left;
}
a:hover{
   background-color: bisque;
}


.smijer li {
    display: inline;
    list-style-type: none;
     padding: 10px;
}

.glavni{
    margin-top: 150px;
    padding: 10px;
    text-align: center;
   background-color: beige;
   box-sizing: border-box;
}
.odsijek{
    margin-bottom: -5px;
}
#ri{
    clear: left;
  
}
.predmet {
    display:grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 10px;
    padding: 10px;
    

}

.predmet>div{
    border: 1px;
    border-style: dotted;
    
   

}
.predmet div{
    text-align: center;
}
.redovni{
    background-color: white;
}
.izborni{
    background-color: powderblue;
}
.nema{
    background-color: grey;
}
@media screen and (max-width: 300px) {
  
    .smijer{position: relative;} 
    
    
}
h4{
    text-align: center;
}
img{
    height: 30px;
    width: 30px;
}








