h2,h4{
    text-align: center;
}
table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    empty-cells: show;
    column-width: 35px;
    padding: 10px;
    text-align: left;
   
    
}
.posebno2{
    border-bottom: none;
}
.tabela{
    column-gap: 20px;
    overflow-x: auto;

}
.posebno{
    border-bottom: none;
    border-top: none;
}
table{
    margin: auto;
}
.posebno1{
    border-top: none;
}
.prisutan{
    background-color: rgb(75, 179, 75);
    height: 30px;
    width: 15px;
}
.odsutan{
    background-color: rgb(255, 0, 0);
    height: 30px;
    width: 15px;
}
.nema{
    background-color: white;
    width: 15px;
    height: 30px;
}
.predavanja, .vjezbe{
    text-align: center;
    height: 30px;
    width: 15px;
}
.ostale{
    border-bottom: none;
    border-top: none;
    empty-cells: show;
    
}






