.log{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html,body {
  height:100%;
  width:100%;
  margin:0;
  align-items: center;
  gap: 10px;
}
body {
  display:flex;
}
div {
  margin:auto;
}
button{
  align-items: center;
}


